/*
 * Highscore styel sheet
 */

 body {
   font: 10px sans-serif;
 }

 .bar rect {
   fill: steelblue;
   shape-rendering: crispEdges;
 }

 rect.currentLap {
	 fill: orange;
 }

 .bar text {
   fill: #fff;
 }

 .axis path, .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 text {
     fill: red;
 }
